@page
@model Project.Pages.Add_StudentModel
@{
}

<div class="text-center">
    <h1>Add Student to Section</h1>
    <p><strong>Course Code:</strong> @Model.CourseCode</p>
    <p><strong>Section Number:</strong> @Model.SectionNumber</p>
</div>

<form method="post">
    <label>Student ID</label>
    <input type="number" asp-for="@Model.Student_ID" /> <br />
    <span asp-validation-for="@Model.Student_ID" class="text-danger"></span><br />

    <button type="submit" class="btn btn-primary">Confirm</button>
</form>
