@page
@model Project.Pages.Course_DetailsModel
@{
}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Gas Turbine Engines</h1>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-6">
                    <h5>Instructor:</h5>
                    <p>Dr. Ahmed El-Taweel</p>
                </div>
                <div class="col-md-6">
                    <h5>Credits:</h5>
                    <p>3</p>
                </div>
            </div>

            <h5>Description:</h5>
            <p class="mb-4">Brief description of Gas Turbine Engines Course</p>

            <h5>Major:</h5>
            <div class="mb-3">
                <p>SPC</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4>Prerequisites</h4>
                </div>
                <div class="card-body">
                    <ur class="list-group">
                        <li class="list-group-item">SPC 302</li>
                        <li class="list-group-item">SPC 211</li>
                        <li class="list-group-item">SPC 422</li>
                    </ur>
                </div>
            </div>
        </div>
    </div>
</div>