@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcome,Admin Name</h1>
</div>
<br />
<br />
<br />

<div class="text-center">
    <form method="post">
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
</div>