@page
@model Project.Pages.IndexModel

<div class="text-center">
    <h1>Welcome Admin @Model.DisplayName</h1>
    <form method="post" class="mt-3">
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
</div>