@page
@model Project.Pages.Uni_ProfsModel
@{
    ViewData["Title"] = "Professors";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <div class="professors-list">
        @foreach (var professor in Model.Professors)
        {
            <Button  asp-page="/ProfessorDetails" asp-route-id="@professor.ID"
               class="professor-card card mb-1 p-4 shadow">
                <h3>Name: @professor.Name </h3>
                <span class="major-code">Major Code: @professor.MajorCode</span>
            </Button>
        }
    </div>
</div>
