@page
@model Project.Pages.View_MajorsModel
@{
}
<div class="container d-flex flex-column align-items-center justify-content-center" style="height: 80vh;">
    <h1 class="mb-5">Majors</h1>

    <div class="d-grid gap-3" style="width: 300px;">
        <div class="text-center">
            <button class="btn btn-primary py-3" style="width: 250px;">SPC</button>
        </div>
        <div class="text-center">
            <button class="btn btn-primary py-3" style="width: 250px;">REE</button>
        </div>
        <div class="text-center">
            <button class="btn btn-primary py-3" style="width: 250px">CIE</button>
        </div>
        <div class="text-center">
            <button class="btn btn-primary py-3" style="width: 250px;">ENV</button>
        </div>
    </div>
</div>