@page
@model Project.Pages.View_AnnouncementsModel
@{
}

<div class="container">
    <h1 class="mb-4">Announcements</h1>

    <div class="announcement-list">
        <div class="card mb-1 p-4 shadow">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h3 class="mb-0">Prof. Abdelsamea: Important Update</h3>
            </div>
            <p class="mb-0">The exam date has been changed to next week.</p>
        </div>
        <div class="card mb-1 p-4 shadow">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h3 class="mb-0">Prof. Mohannad: Assignment Deadline</h3>
            </div>
            <p class="mb-0">Assignment deadline is postponed till friday.</p>
        </div>
        <div class="card mb-1 p-4 shadow">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h3 class="mb-0">Prof. Ashraf: Office Hours</h3>
            </div>
            <p class="mb-0">My office hours have changed for this week.</p>
        </div>
    </div>
</div>